
<background [color]="getBackgroundColor()" pattern="squares"></background>
<ion-header transparent>
  <ion-buttons left>
    <button ion-button class="navigate-button navigate-button-back" (click)="goBack()">
        <svg-shape class="navigation-arrow" shape="arrow"></svg-shape>
    </button>
  </ion-buttons>

</ion-header>

<ion-content class="no-scroll keyword-group-size-{{getKeywordList().length}}">
  <ion-grid class="centered">
    <ion-row justify-content-center align-items-center>
      <ion-col *ngFor="let keyword of getKeywordList(); let i = index">
        <div class="media-small" style="position: relative;">
          <svg-trapezium  [color]="imageColor">
            <div class="media-button" (click)="setKeyword(keyword)">
              <div class="media media-image media-frame">
                <img *ngIf="getKeywordImageUri(keyword)" [src]="getKeywordImageUri(keyword)"/>
              </div>
              <mark *ngIf="getKeyword(keyword).isComplete()" class="mark-{{i + 1}}">
                <svg-shape shape="check"></svg-shape>
              </mark>

            </div>

          </svg-trapezium>
          <!-- <div class="preview-audio-button"  (click)="playKeyword(keyword)">
            <ion-icon name="play"></ion-icon>
          </div> -->
          <button class="preview-audio-button" (click)="playKeyword(keyword)">
            <span>{{getKeyword(keyword).display}}</span>
          </button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-buttons end>
    <button *ngIf="canGoForward()" ion-button class="navigate-button pulse" (click)="goForward()">
      <svg-shape class="navigation-arrow" shape="arrow"></svg-shape>
    </button>
  </ion-buttons>
</ion-footer>