page-select-keyword {
    @keyframes Beat {
        0% { transform: scale(1) }
        40% { transform: scale(1.25) }
        80% { transform: scale(1) }
    }

    mark {
        position: absolute;
        display: inline-block;
        right: 0;
        bottom: 10%;
    }

    .mark {
        transform-origin: 50%, 50%;
        animation: Beat 2s infinite;
    }

    @keyframes Pulse {
        0% { transform: sclae(1) }
        20% { transform: scale(1.125)}
        40% { transform: scale(1)}
        60% { transform: scale(1.125) }
        80% { transform: scale(1) }
        100% { transform: sclae(1) }
    }
    .pulse {
        transform-origin: 50%, 50%;
        animation: Pulse 2s linear infinite;
    }
}
