page-select-keyword {

    @keyframes Pulse {
        0% { transform: sclae(1) }
        20% { transform: scale(1.125)}
        40% { transform: scale(1)}
        60% { transform: scale(1.125) }
        80% { transform: scale(1) }
        100% { transform: sclae(1) }
    }
    .pulse {
        transform-origin: 50%, 50%;
        animation: Pulse 2s linear infinite;
    }

    .media-button {
        position: relative;
        display: block;
        margin: 5%;

        img {
            vertical-align:bottom
        }
    }
    .media-button:hover {
        box-shadow: 0px 0px 30px  color($md-palette, md-white);
    }
    mark {
        position: absolute;
        display: inline-block;
        right: 0;
        bottom: 0;
    }

    .centered {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        height: 100%;
    }

}
