
<background [color]="getBackgroundColor()"></background>
<ion-header transparent>
    <ion-buttons left>
      <button ion-button class="navigate-button navigate-button-back" (click)="goBack()">
          <svg-shape class="navigation-arrow" shape="arrow"></svg-shape>
      </button>
    </ion-buttons>
</ion-header>

<ion-content class="no-scroll">
  <ion-grid fixed>
    <ion-row *ngFor="let keyword of getKeywordList(); let i = index" text-center class="row row-{{i+1}}">
      <ion-col>
        <button ion-button round (click)="setKeyword(keyword)" class="keyword-group-button">
         {{ getKeyword(keyword).display }}
        </button>
        <mark *ngIf="getKeyword(keyword).isComplete()" class="mark-{{i + 1}}">
          <svg-shape shape="check"></svg-shape>
        </mark>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
