<ion-header>
  <ion-toolbar>
    <ion-buttons start>
     <button ion-button icon-only (click)="cancel()">
         <ion-icon name="close"></ion-icon>
     </button>
  </ion-buttons>
    <ion-title>
      Select vowel group
    </ion-title>

  <ion-buttons end>
      <button ion-button icon-only (click)="ok()">
         <ion-icon name="checkmark"></ion-icon>
  </button>
 </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let group of vowelGroups" (click)="setVowelGroup(group.index)">
      <p></p>
      <h2>{{group.title}}
          <span>&nbsp;</span>
          <ion-icon *ngIf="group.index === vowelGroupIndex"
            name="checkmark-circle" class="check-mark-circle">
          </ion-icon></h2>
      <p>{{group.hvds}}</p>

      </ion-item>
  </ion-list>

</ion-content>
