narrator {


.svg-container {
    width: 480px !important;
    height: 480px !important;
}

.hidden {
    display: none;
}

.inset {
    .narrator-container {
        width: 240px !important;
        height: 240px !important;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
    }

    .narrator-container-inner {
        position: absolute;
        left: -120px;
        top:-80px;
        transform: scale(0.625);
    }
}
}
