keyword {

    ion-grid {
        width: 100%;
    }
    .keyword-button {
        border-radius: 2px !important;
        @include button-hover($keyword-button-bg, $keyword-button-fg);
        @include hover-box-shadow($keyword-button-bg);
    }

    .keyword-control-button {
        border-radius: 2px !important;
        @include button-hover($keyword-control-button-bg, $keyword-control-button-fg);
        @include hover-box-shadow($keyword-control-button-bg);
    }

    ion-icon[name='play'] {
        margin-left: 7.5%;
    }

    .fade-out {
        opacity: 0 !important;
        transition: opacity 1s;
    }

    .fade-in {
        opacity: 1 !important;
        transition: opacity 1s;
    }

    .disabled {
        &:hover {
            box-shadow: none !important
        }
        transition: opacity 0.5s;
        opacity: 0.5!important;
        color: darken($keyword-control-button-bg, 10);
    }

    .invisible {
        visibility: hidden;
    }

    @keyframes Spin {
        0% { transform: sclae(1) }
        20% { transform: scale(1.125)}
        40% { transform: scale(1)}
        60% { transform: scale(1.125) }
        80% { transform: scale(1) }
        100% { transform: sclae(1) }
    }
    .selected {
        span {
            transform-origin: 50%, 50%;
            animation: Spin 2s linear infinite;
        }
    }


}
