
<ion-grid>
  <ion-row justify-content-center align-items-center>
    <ion-col col-auto>
      <button *ngIf="controls" [class]="canRecord ? 'keyword-control-button fade-in' : 'keyword-control-button semi-disabled' " ion-button icon-only round [disabled]="!canRecord" (click)="toggleRecording()">
        <ion-icon *ngIf="!recording" name='mic'>
        </ion-icon>
        <ion-icon *ngIf="recording" name='square'>
        </ion-icon>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button full strong class="keyword-button" (click)="playKeyword()">
        <ng-content></ng-content>
      </button>
    </ion-col>
    <ion-col col-auto>
      <button *ngIf="controls"  [class]="canPlay ? 'keyword-control-button fade-in' : 'keyword-control-button fade-out'" ion-button icon-only round  [disabled]="!canPlay" (click)="playRecording()">
        <ion-icon name='play'>
        </ion-icon>
      </button>
    </ion-col>
  </ion-row>
</ion-grid>
