keyword {

    ion-grid {
        width: 100%;
    }
    .keyword-button {
        @include button-hover($keyword-button-bg, $keyword-button-fg);
        @include hover-box-shadow($keyword-button-bg);
    }

    .keyword-control-button {
        // border-radius: 50% !important;
        @include button-hover($keyword-control-button-bg, $keyword-control-button-fg);
        @include hover-box-shadow($keyword-control-button-bg);
    }

    ion-icon[name='play'] {
        margin-left: 7.5%;
    }

    .fade-out {
        opacity: 0 !important;
        transition: opacity 1s;
    }

    .fade-in {
        opacity: 1 !important;
        transition: opacity 1s;
    }

    .disabled {
        &:hover {
            box-shadow: none !important
        }
        transition: opacity 0.5s;
        opacity: 0.5!important;
        color: darken($keyword-control-button-bg, 10);
    }

}
