
<background [color]="backgroundColor" pattern="horizontal-lines"></background>
<ion-header transparent>
  <ion-navbar hideBackButton>
    <ion-title>
      <svg-trapezium>
        Choose a group
      </svg-trapezium>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content  class="no-scroll">
  <ion-grid class="centered">
    <ion-row justify-content-center align-items-center>
      <ion-col col-4 *ngFor="let keywordGroup of getKeywordGroupList(); let i = index">
          <svg-trapezium  [color]="trapeziumColor">
            <div class="media-button" (click)="setKeywordGroupIndex(i)">
              <div class="media media-image media-frame">
                <div class="media-tiny flex flex-centered relative">
                  <div class="keyword-group-label keyword-group-label-{{i + 1}}">

                  </div>
                  <span>{{i + 1}}</span>
                </div>
              </div>
              <mark *ngIf="getKeywordGroup(keywordGroup).isComplete()" class="mark-{{i + 1}}">
                <svg-shape shape="check"></svg-shape>
              </mark>
            </div>
          </svg-trapezium>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer padding>
  <ion-buttons>
    <button ion-button class="navigate-button navigate-button-back float-left" (click)="goBack()">
        <svg-shape class="navigation-arrow" shape="arrow"></svg-shape>
    </button>
  </ion-buttons>
</ion-footer>
