
<background [color]="backgroundColor"></background>
<ion-header transparent>
  <ion-buttons left>
    <button ion-button class="navigate-button navigate-button-back" (click)="goHome()">
      <svg-shape class="navigation-arrow" shape="arrow"></svg-shape>
    </button>
  </ion-buttons>
</ion-header>

<ion-content  class="no-scroll">
  <ion-grid fixed>
    <ion-row  *ngFor="let keyword of getKeywordGroupList(); let i = index;" text-center class="row row-{{i+1}}">
      <ion-col>
          <button  ion-button round (click)="setKeywordGroupIndex(i)" class="keyword-group-button">
            Group {{i + 1}}
          </button>
          <mark *ngIf="getKeywordGroup(keyword).isComplete()" class="mark-{{i + 1}}">
             <svg-shape shape="check"></svg-shape>
          </mark>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
</ion-footer>
