<ion-header>
  <ion-toolbar>
    <ion-title>
      Select speaker
    </ion-title>

     <ion-buttons start>
     <button ion-button icon-only (click)="cancel()">
         <ion-icon name="close"></ion-icon>
     </button>
  </ion-buttons>
  <ion-buttons end>
      <button ion-button icon-only (click)="ok()">
         <ion-icon name="checkmark"></ion-icon>
  </button>
 </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let speaker of speakers" (click)="setSpeaker(speaker.index)">
       <ion-avatar item-left>
        <img id="img{{speaker.index}}" src="{{speaker.icon}}">

      </ion-avatar>
      <p><p>
      <h2>{{speaker.title}}
        <span>&nbsp;</span>
        <ion-icon
        *ngIf="speaker.index === speakerIndex"
        name="checkmark-circle" class="check-mark-circle"> </ion-icon>
      </h2>
      <p></p>


      </ion-item>
  </ion-list>

</ion-content>
