<!-- <background color="white"></background> -->
<ion-header>
  <ion-navbar>
    <ion-title>Select talker</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="cancel()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="no-scroll">
<ion-list>
  <ion-item *ngFor="let talker of getTalkers()" (click)="setTalker(talker)">
    <ion-avatar item-start>
      <div class="avatar {{isTalker(talker) ? 'is-selected' : ''}}" [inlineSVG]="'assets/images/avatars/' + talker.avatar + '.svg'"></div>
    </ion-avatar>
    <ion-label class="{{isTalker(talker) ? 'is-selected' : ''}}">{{talker.displayName}}</ion-label>
  </ion-item>
</ion-list>
<!-- <ion-fab *ngIf="!!appData.talker" bottom right edge>
  <button ion-fab large color="primary" (click)="continue()"><ion-icon name="checkmark"></ion-icon></button>
  </ion-fab> -->
</ion-content>


<ion-footer>
  <ion-buttons end>
    <button *ngIf="!!appData.talker" ion-button class="navigate-button" (click)="continue()">
      <svg-shape class="navigation-arrow" shape="arrow"></svg-shape>
    </button>
  </ion-buttons>
</ion-footer>