page-select-talker {
  .select-talker-button {
    position: absolute;
    @include button-hover($keyword-button-bg, $keyword-button-fg);
    top: 100%;
    left: 50%;
    transform: translate(-50%, -33.3%);
  }

  .avatar {
    width: 100%;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
    background-color: color($md-palette, md-blue-grey-100);
    @include border();

    svg {
      position: absolute;
      transform: translateY(15%) scale(1.333);
    }
    &.is-selected {
      background-color: color($md-palette, md-light-blue-100);
      svg {
        .lips {
          transform-origin: 256px 256px;
          transform: scale(1.5, 1.75);
        }
      }
    }
    &::after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
  }
}
