page-select-talker {

  .toolbar-title {
    font-weight: bold;
    color: color($md-palette, md-white);
  }
  ion-avatar {
    display: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(0.875);
    margin-bottom: 1rem;
  }

  .select-talker-button {
    position: absolute;
    @include button-hover($keyword-button-bg, $keyword-button-fg);
    margin-left: auto;
    margin-right: auto;
    top: 100%;
    transform: translateY(-33.3%);
  }

  .avatar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
    background-color: color($md-palette, md-blue-grey-100);
    @include border();

    svg {
      position: absolute;
      transform: translateY(12.5%) scale(1.333);
    }
    &.is-selected {
      background-color: color($md-palette, md-light-blue-100);
      svg {
        .lips {
          transform-origin: 256px 256px;
          transform: scale(1.5, 1.75);
        }
      }
    }
  }
}