page-select-talker {




  ion-content {
    width: 100% !important;
    height: 100% !important;
    left: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  ion-header, ion-footer {
    left: 0 !important;
    width: 100% !important;
    margin: 0 !important;
  }
  ion-footer {
    padding-right: 5vh;
    .navigate-button {
      animation: Pulse 2s infinite;
    }
  }
  ion-content {
    @include border();
  }
  ion-content, .content {

    background: color($md-palette, md-white) !important;
    border-radius: 30px;
    .scroll-content {
      margin-bottom: 0.0rem !important;
      overflow-x: hidden;
    }
    padding: 5vh 0 0 !important;
  }

  .toolbar-title {
    padding-left: 5vh;
    font-weight: bold;
    color: color($md-palette, md-light-blue);
  }

  ion-list {
    padding: 10vh 0 0 !important;
    width: 100% !important;
  }

  ion-label.is-selected {
    color: color($md-palette, md-light-blue);
    font-size: 2rem;
  }

  .avatar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: color($md-palette, md-blue-grey-100);
    svg {
      position: absolute;
      transform: translateY(12.5%) scale(1.333);
    }
    &.is-selected {
      background-color: color($md-palette, md-light-blue-100);
      svg {
        .lips {
          transform-origin: 256px 256px;
          transform: scale(1.5, 1.75);
        }
      }
    }
  }

}
