
<background [color]="getBackgroundColor()" pattern="none"></background>

<ion-content padding  overflow-scroll="false" class="no-scroll" scrollbar-y-auto>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col>
        <div class="home-page-title">
            <svg-trapezium style="width: 100%;">
          <div class="media media-image media-frame">
            <logo></logo>
          </div>
          </svg-trapezium>

        <div class="calvin-frame" [inlineSVG]="'assets/images/avatars/calvin.svg'"></div>
      </div>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col col-auto class="subtitle">
          <span>Computer Assisted Learning for Vowels interface</span>
      </ion-col>
    </ion-row>
    <ion-row  *ngIf="!audioAvailable" justify-content-center>
      <ion-col col-auto>
        <div class="error">
          Cannot access audio for recording
          <br>
          Please check computer audio settings and restart
          <br>
          &nbsp;
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="audioAvailable"  justify-content-center>
      <ion-col col-auto>
        <button ion-button (click)="onStart()" class="example-word-button">
          <span>Start</span>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-buttons end>
    <button *ngIf="remote" ion-button icon-only class="exit-button" (click)="exitApplication()">
      <ion-icon name="exit"></ion-icon>
    </button>
  </ion-buttons>
</ion-footer>