<ion-header>
  <ion-navbar>
    <ion-title>

    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="no-scroll">
  <div class="center-content">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col col-auto>
          <div class="title calvin-logo"><span>C</span><span>A</span><span>L</span><span>V</span><span>in</span></div>
        </ion-col>
      </ion-row>
      <ion-row justify-content-center>
        <ion-col col-auto no-padding>
          <div class="calvin-frame-circle" [inlineSVG]="'assets/images/calvin.svg'"></div>
        </ion-col>
      </ion-row>
      <ion-row justify-content-center>
        <ion-col col-auto class="subtitle">
            <span>Computer Assisted Learning for Vowels interface</span>
        </ion-col>
      </ion-row>
      <ion-row  *ngIf="!audioAvailable" justify-content-center>
        <ion-col col-auto>
          <div class="error">
            Cannot access audio for recording
            <br>
            Please check computer audio settings and restart
            <br>
            &nbsp;
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="audioAvailable"  justify-content-center>
        <ion-col col-auto>
          <button ion-button color="secondary">
            <span>Vowel trainer</span>
          </button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="audioAvailable"  justify-content-center>
        <ion-col col-auto>
          <button ion-button color="primary">
            <span>Word trainer</span>
          </button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="remote" justify-content-center>
        <ion-col col-auto>
          <button ion-button color="danger" (click)="exitApplication()">
            <span>Exit</span>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
