page-home {

calvin-logo {
    font-size: 400% !important;
}

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.subtitle {
    margin-bottom: 5rem;
}

.error {
    text-align: center;
}

.button-small-md {
    height: 2.1rem;
    width: 7.5rem;
}
}
