
<background color="black"></background>

<ion-header>
  <ion-navbar>
    <ion-title>

    </ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding class="no-scroll">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col col-auto>
        <div class="title">
          <logo></logo>
        </div>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col col-auto no-padding>
        <div class="calvin-frame-circle" [inlineSVG]="'assets/images/avatars/calvin.svg'"></div>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col col-auto class="subtitle">
          <span>Computer Assisted Learning for Vowels interface</span>
      </ion-col>
    </ion-row>
    <ion-row  *ngIf="!audioAvailable" justify-content-center>
      <ion-col col-auto>
        <div class="error">
          Cannot access audio for recording
          <br>
          Please check computer audio settings and restart
          <br>
          &nbsp;
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="audioAvailable"  justify-content-center>
      <ion-col col-auto>
        <button ion-button (click)="onStart()" class="example-word-button">
          <span>Start</span>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-buttons end>
    <button *ngIf="remote" ion-button ionc-only class="exit-button" (click)="exitApplication()">
      <ion-icon name="exit"></ion-icon>
    </button>
  </ion-buttons>
</ion-footer>