
page-home {

.logo {
    font-size: 15vw !important;
}
.logo-c {
    color: red;
}
.logo-a {
    color: orange;
}
.logo-l {
    color: deeppink;
}
.logo-v {
    color: green;
}
.logo-i {
    color: purple;
}
.logo-n {
    color: blue;
}

.logo-subtitle {
    font-size: 150%;
}



}
