logo {

font-family: Crafty Girls;
font-weight: bold;

.calvin-logo {
    position: relative;
    display: inline-block;

    .calvin-logo-letter-wrapper {
        display: inline-block;
        position: relative;
        span {
            visibility: hidden;
        }
    }
    .calvin-logo-letter {
        position: absolute;
    }
    .calvin-logo-c {
        color: color($md-palette, md-red);
    }
    .calvin-logo-a {
        color: color($md-palette, md-light-green);
    }
    .calvin-logo-l {
        color: color($md-palette, md-light-blue);
    }
    .calvin-logo-v {
        color: color($md-palette, md-amber);
        // Correction for crappy font metrics.
        margin-left: -15%;
        padding-left: 10%;
        padding-right: 10%;
    }
    .calvin-logo-i {
        color: color($md-palette, md-purple);
    }
    .calvin-logo-n {
        color: color($md-palette, md-purple);
    }

}
}
