$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

/* Desktop, Laptop */
@media screen and (min-width: 1024px) and (min-height: 768px) {

}

@media screen and (min-width: 1280px) and (min-height: 1024px) {

}

@media screen and (min-width: 1366px) and (min-height: 768px) {

}

@media screen and (min-width: 1920px) and (min-height: 1080px) {

}

@media screen and (min-width: 1920px) and (min-height: 1200px) {

}
