// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$md-palette: (
  'red':         #F44336,
  'pink':        #E91E63,
  'purple':      #9C27B0,
  'deep-purple': #673AB7,
  'indigo':      #3F51B5,
  'blue':        #2196F3,
  'light-blue':  #03A9F4,
  'cyan':        #00BCD4,
  'teal':        #009688,
  'green':       #4CAF50,
  'light-green': #8BC34A,
  'lime':        #CDDC39,
  'yellow':      #FFEB3B,
  'amber':       #FFC107,
  'orange':      #FF9800,
  'deep-orange': #FF5722,
  'brown':       #795548,
  'grey':        #9E9E9E,
  'blue-grey':   #607D8B,
  'black':       #000000,
  'white':       #FFFFFF
);

$colors: (
  primary:   color($md-palette, 'light-blue'),
  secondary: color($md-palette, 'light-green'),
  danger:    color($md-palette, 'red'),
  light:     darken(color($md-palette, 'white'), 5%),
  dark:      lighten(color($md-palette, 'black'), 5%),
  active:    darken(color($md-palette, 'blue'), 5%),
  inactive:  lighten(color($md-palette, 'grey'), 5%)
);

$view-button-bg: color($md-palette, 'light-blue');
$view-button-fg: color($md-palette, 'white');


$navigate-button-bg: color($md-palette, 'light-green');
$navigate-button-fg: color($md-palette, 'white');
$keyword-button-bg: color($md-palette, 'orange');
$keyword-button-fg: color($md-palette, 'white');
$keyword-control-button-bg: color($md-palette, 'purple');
$keyword-control-button-fg: color($md-palette, 'white');

$keyword-label-fg: color($md-palette, 'white');
$keyword-label-highlight-fg: color($md-palette, 'red');
$keyword-label-lowlight-fg: color($md-palette, 'white');

@mixin button-hover($bg, $fg, $bd:10, $fd:10) {
    background-color: $bg;
    border-bottom: 0.5rem solid darken($bg, $bd) !important;
    & span {
       color: $fg;
    };
    &:disabled {
       opacity: 0.0;
    }
    &:hover {
        background-color: lighten($bg, $fd) !important;
        border-bottom: 0.25rem solid darken($bg, $bd) !important;
    }
}

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

@import '../assets/fonts/crafty_girls/CraftyGirls.ttf';

@font-face {
  font-family: 'Crafty Girls';
  src: url('../assets/fonts/crafty_girls/CraftyGirls.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$font-family-base: "Crafty Girls";
$font-family-md-base: "Crafty Girls";
$font-size-base: 1.4rem;

$font-size-desktop: 2.4rem;

