// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

@import "./md-colors";

$colors: (
  primary:   color($md-palette, md-light-blue),
  secondary: color($md-palette, md-light-green),
  danger:    color($md-palette, md-red),
  light:     darken(color($md-palette, md-white), 5%),
  dark:      lighten(color($md-palette, md-black), 5%),
  active:    darken(color($md-palette, md-blue), 5%),
  inactive:  lighten(color($md-palette, md-grey), 5%)
);

$view-button-bg: color($md-palette, md-light-blue);
$view-button-fg: color($md-palette, md-white);


$navigate-button-bg: color($md-palette, md-light-green);
$navigate-button-fg: color($md-palette, md-white);
$keyword-button-bg: color($md-palette, md-orange);
$keyword-button-fg: color($md-palette, md-white);
$keyword-control-button-bg: color($md-palette, md-purple);
$keyword-control-button-fg: color($md-palette, md-white);

$keyword-label-fg: color($md-palette, md-white);
$keyword-label-highlight-fg: color($md-palette, md-red);
$keyword-label-lowlight-fg: color($md-palette, md-white);

@mixin button-hover($bg, $fg, $bd:10, $fd:10) {
    background-color: $bg;
    border-bottom: 0.5rem solid darken($bg, $bd) !important;
    & span {
       color: $fg;
    };
    &:disabled {
       opacity: 0.0;
    }
    &:hover {
        background-color: lighten($bg, $fd) !important;
        border-bottom: 0.25rem solid darken($bg, $bd) !important;
    }
}

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

@import '../assets/fonts/crafty_girls/CraftyGirls.ttf';
@import '../assets/fonts/Bubblegum_Sans/BubblegumSans-Regular.ttf';

@font-face {
  font-family: 'Crafty Girls';
  src: url('../assets/fonts/crafty_girls/CraftyGirls.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BubblegumSans';
  src: url('../assets/fonts/Bubblegum_Sans/BubblegumSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$font-family-base: "BubblegumSans";
$font-family-md-base: "BubblegumSans";
$font-size-base: 1.4rem;

$font-size-desktop: 2.4rem;

