// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$md-palette: (
  md-red:         #F44336,
  md-pink:        #E91E63,
  md-purple:      #9C27B0,
  md-deep-purple: #673AB7,
  md-indigo:      #3F51B5,
  md-blue:        #2196F3,
  md-light-blue:  #03A9F4,
  md-cyan:        #00BCD4,
  md-teal:        #009688,
  md-green:       #4CAF50,
  md-light-green: #8BC34A,
  md-lime:        #CDDC39,
  md-yellow:      #FFEB3B,
  md-orange:      #FF9800,
  md-deep-orange: #FF5722,
  md-brown:       #795548,
  md-grey:        #9E9E9E,
  md-blue-grey:   #607D8B,
  md-black:       #000000,
  md-white:       #FFFFFF
);

$colors: (
  primary:   color($md-palette, md-blue),
  secondary: color($md-palette, md-purple),
  danger:    color($md-palette, md-red),
  light:     darken(color($md-palette, md-white), 5%),
  dark:      lighten(color($md-palette, md-black), 5%),
  active:    darken(color($md-palette, md-blue), 5%),
  inactive:  lighten(color($md-palette, md-grey), 5%)
);

$view-button-bg: color($md-palette, md-light-blue);
$view-button-fg: color($md-palette, md-white);


$navigate-button-bg: color($md-palette, md-red);
$navigate-button-fg: color($md-palette, md-white);
$keyword-button-bg: color($md-palette, md-orange);
$keyword-button-fg: color($md-palette, md-white);
$keyword-control-button-bg: color($md-palette, md-purple);
$keyword-control-button-fg: color($md-palette, md-white);

@mixin button-hover($bg, $fg) {
    background-color: $bg;
    & span {
       color: $fg;
    };
    &:hover {
        background-color: lighten($bg, 10) !important;
        border-bottom: 0.5rem solid darken($bg, 10) !important;
    }
}
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

@import '../assets/fonts/crafty_girls/CraftyGirls.ttf';
@import '../assets/fonts/Roboto/Roboto-Regular.ttf';
@import '../assets/fonts/DoulosSIL/DoulosSIL-R.ttf';


@font-face {
    font-family: 'Crafty Girls';
    src: url('../assets/fonts/crafty_girls/CraftyGirls.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DoulosSIL';
    src: url('../assets/fonts/DoulosSIL/DoulosSIL-R.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


$font-family-base: "Crafty Girls";
$font-family-md-base: "Crafty Girls";
$font-size-base: 1.4rem;

$font-size-desktop: 2.4rem;


