vocal-tract-animation {


.head, .laryngeal-wall,
.lip-lower, .lip-upper
{
    fill: #607d8b;
}

.tongue, .larynx,
.velum
{
    fill: #263238;
}

.gum-lower, .alveolar-ridge
{
    fill: #9e9e9e;
}

.teeth-upper,
.teeth-lower
{
    fill: #cfd8dc;
}

}
