vocal-tract-animation {

.vocal-tract-animation {
    display: inline-block;
}
.svg-container {
     background-color: #cfd8dc;
     position: relative;
}

.overlay {
    position: absolute;
    background-color: black;
    opacity: 0.25;
    left:0% !important;
    right:0% !important;
    width: 100% !important;
    bottom: 0%;
    padding-left: 2%;
    padding-right: 2%;
}
circle {
    fill: red;
}

.range-knob-handle {

}
.range-slider, .range-bar, .range, {
    margin: 0% !important;
    padding: 0% !important;
    padding-left: 2%;
    padding-right: 2%;
}
ion-range {
    margin: 0% ! important;
    padding-top: 0% !important;
}

.head, .laryngeal-wall,
.lip,
{
    fill: #607d8b;
}

.tongue, .larynx,
.velum
{
    fill: #263238;
}

.tongue
{
    stroke: #263238;
    stroke-width: 2px;
}

.gum
{
    fill: #9e9e9e;
}

.teeth
{
    fill: #ffffff;
}

}
