// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


* {
    font-weight: bold;
}

button {
    text-transform: none !important;
}


.no-scroll .scroll-content{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    top: 0 !important;
  bottom: 0 !important;
  height: 100% !important;
overflow: visible !important;
}

// @media only screen
//     and (min-device-width: 1024px)
//     and (min-device-height: 768px)
//     and (orientation: landscape) {

// .font-logo {
//     font-size: 160px !important;
// }

// .font-large {
//     font-size: 96px !important;
// }

// body, .font-normal {
//     font-size: 32px !important;
// }


// .video-player {
//       width: 512px !important;
// }

// .slide-image {
//     width: 512px !important;
//     height: 512px !important;
// }

// .display-block {
//     width: 400px !important;
// }

// .container {
//     height: 100% !important;
//     width: 75% !important;
// }
// }

.calvin-head,
.calvin-ear, .calvin-ear-right, .calvin-ear-left,
.calvin-hand, .calvin-hand-left, .calvin-hand-right, {
    fill: #ffc107;
}

.calvin-arms {
    fill: #f44336;
}

.calvin-chest, .calvin-tongue {
    fill: #b71c1c;
}

.calvin-hair, .calvin-eye-right, .calvin-eye-left, .calvin-mouth {
    fill:#3e2723;
}

.calvin-neck, .calvin-ear-right-inner, .calvin-ear-left-inner, .calvin-lips {
    fill: #ff9800;
}

.calvin-teeth {
    fill: #ffffff;
}






@media only screen
    and (min-width: 828px)
    and (min-height: 768px)
{

.content-container {
    width: 33%;
    left: 33%;
}

.vocal-tract-animation {
    margin: auto;
    max-width: 320px !important;
}


* {
    font-size: 1.25rem !important;
}

button span, .keyword-display{
     font-size: 2rem !important;
}
button[icon-only] {
     font-size: 4rem !important;
}

ion-icon {
    font-size: 2rem !important;
}

}

@media only screen
    and (min-width: 1024px)
    and (min-height: 768px)
{

.content-container {
    width: 50%;
    left: 25%;
}

.vocal-tract-animation {
    margin: auto;
    max-width: 608px !important;
}


* {
    font-size: 1.5rem !important;
}

button span {

     font-size: 2rem !important;
}

.keyword-display {
     font-size: 2.5rem !important;
}

button[icon-only] {
     font-size: 3rem !important;
}

ion-icon {
    font-size: 2.5rem !important;
}

}

// ion-app, ion-content {
//     background-color: lighten(color($md-palette, md-light-blue), 20) !important;
// }

ion-footer, .footer, .footer-md {
    background-color: transparent !important;
}

.toolbar-background {
     background-color: transparent !important;


}

.header-md::after {
    background-image: none !important;
}

.footer-md::before {
    background-image: none !important;
}

* {
    box-shadow: none !important;
}

// button[color="secondary"]{
//     // border-left-style: solid !important;
//     // border-left-color: darken(color($colors, secondary), 5) !important;
//     // border-left-width: 10px !important;
//     // border-right-style: solid !important;
//     // border-right-color: darken(color($colors, secondary),  5) !important;
//     // border-right-width: 10px !important;
//     // border-bottom-style: solid !important;
//     // border-bottom-color: darken(color($colors, secondary),  10) !important;
//     // border-bottom-width: 10px !important;
//     border-style: solid !important;
//     border-color: darken(color($colors, secondary), 10) !important;
//     border-width: 10px;
// }

// button[color="danger"]{
//     // border-left-style: solid !important;
//     // border-left-color: darken(color($colors, danger), 10) !important;
//     // border-left-width: 10px;
//     // border-right-style: solid !important;
//     // border-right-color: darken(color($colors, danger),  10) !important;
//     // border-right-width: 10px;
//     // border-bottom-style: solid !important;
//     // border-bottom-color: darken(color($colors, danger),  20) !important;
//     // border-bottom-width: 10px;
//     border-style: solid !important;
//     border-color: darken(color($colors, danger), 20) !important;
//     border-width: 10px;
// }

// button[color="primary"]{
//     border-style: solid !important;
//     border-color: darken(color($colors, primary), 10) !important;
//     border-width: 10px;
// }

ion-row {
    margin: 0px !important;
    padding: 0px !important;
      display: border-box;
}
button {
     height: 4rem !important;
}


$vocal-tract-animation-height: 65vh;
