// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

body, div, span, p,
h1, h2, h3, h4, h5, h6,
button,
ion-item, ion-title,
ion-button, ion-content, ion-label {
  font-family: 'Crafty Girls', cursive !important;
  font-weight: bold !important;
}



.no-scroll .scroll-content{
    overflow: hidden !important;
}

@media only screen
    and (min-device-width: 1024px)
    and (min-device-height: 768px)
    and (orientation: landscape) {


.font-logo {
    font-size: 160px !important;
}

.font-large {
    font-size: 96px !important;
}

body, .font-normal {
    font-size: 32px !important;
}


.video-player {
      width: 512px !important;
  }

.slide-image {
    width: 512px !important;
    height: 512px !important;
}

}

.calvin-head,
.calvin-ear, .calvin-ear-right, .calvin-ear-left,
.calvin-hand, .calvin-hand-left, .calvin-hand-right, {
    fill: #ffc107;
}

.calvin-arms {
    fill: #f44336;
}

.calvin-chest, .calvin-tongue {
    fill: #b71c1c;
}

.calvin-hair, .calvin-eye-right, .calvin-eye-left, .calvin-mouth {
    fill:#3e2723;
}

.calvin-neck, .calvin-ear-right-inner, .calvin-ear-left-inner, .calvin-lips {
    fill: #ff9800;
}

.calvin-teeth {
    fill: #ffffff;
}

.vocal-tract-head, .vocal-tract-laryngeal-wall,
.vocal-tract-lip-lower, .vocal-tract-lip-upper
{
    fill: #607d8b;
}

.vocal-tract-tongue, .vocal-tract-pharynx,
.vocal-tract-velum
{
    fill: #263238;
}

.vocal-tract-gum-lower, .vocal-tract-alveolar-ridge
{
    fill: #9e9e9e;
}

.vocal-tract-teeth-upper,
.vocal-tract-teeth-lower
{
    fill: #cfd8dc;
}
