page-example-word {


  .float {
    position: absolute;
    right: 0px;
    bottom: 0px;
    overflow: visible !important;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 800;
    transform: translate(12.5%,12.5%);
  }

  .float-button {
    width: 15vh;
    height: 15vh;
    display: flex;
  }

  .float:hover {
    box-shadow: 0px 0px 30px  color($md-palette, md-white) !important;
  }

  .media-example {
    transform: translateY(-16px)
  }

  .media {
    line-height: 0;
  }

}
