<paper pattern="stars">
  <ion-header transparent>
    <heading> Listen and watch </heading>
  </ion-header>

  <ion-content class="no-scroll">
    <ion-grid class="centered">
      <ion-row text-center>
        <ion-col>
          <keyword keyword-controls [keyword-uri]="getAudioUri()" #keyword>
            <span [innerHtml]="getExampleWord()"></span>
          </keyword>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="isViewState(ViewState.Image)" justify-content-center>
        <ion-col col-10 col-sm-12 text-center>
          <div class="media-wrapper media-wrapper-example">
            <fancy-frame>
              <div class="media-frame media-frame-image">
                <img *ngIf="getImageUri()" [src]="getImageUri()" />
              </div>
            </fancy-frame>
            <div class="float">
              <div class="float-button media-frame" (click)="setViewState(ViewState.Video)">
                <div class="media media-video">
                  <video-player *ngIf="getVideoUri()" [src]="getVideoUri()" disabled="true"></video-player>
                </div>
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="isViewState(ViewState.Video)" justify-content-center>
        <ion-col col-10 col-sm-12 text-center>
          <div class="media-wrapper media-wrapper-example">
            <fancy-frame>
              <div class="media-frame media-frame-video">
                <video-player *ngIf="getVideoUri()" [src]="getVideoUri()" #videoPlayer></video-player>
              </div>
            </fancy-frame>
            <div class="float">
              <div class="float-button media-frame">
                <div class="media media-image">
                  <img *ngIf="getImageUri()" [src]="getImageUri()" />
                </div>
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

  <ion-footer class="centered">
    <button ion-button class="navigate-button navigate-button-back float-left" (click)="goBack()">
      <svg-shape class="navigation-arrow" shape="arrow"></svg-shape>
    </button>
  </ion-footer>
</paper>