page-example-word {


  .float {
    position: absolute;
    right: 0px;
    bottom: 0px;
    overflow: visible !important;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 800;
    transform: translate(12.5%,12.5%);
  }

  .float-button {
    width: 15vh;
    height: 15vh;
    display: flex;
    img {
      transform: scale(0.75);
      transition: transform 0.5s;
    }
  }

  .float:hover {
    img {
      transform: scale(0.9);
      transition: transform 0.5s;
    }
  }

  .media-example {
    transform: translateY(-16px)
  }

}
