page-example-word {


  .float {
    position: absolute;
    right: 0px;
    bottom: 0px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 500;
    transform: translate(25%,25%);
  }

  // .float-button {
  //   position: relative;

  // }

  // .float-button.image {
  //     background-color: color($md-palette, md-black);
  // }

  .float-button {
    width: 15vh;
    height: 15vh;
    display: flex;
  }
}
