page-select-speaker {


h2 {
    font-size: 200% !important;
}

.selected {
    background: #c0c0f0 !important;
    border-radius: 5% !important;
}

ion-avatar {
  position: relative;
  background: lightgray;
  border-radius: 50%;
  img {
    height: 10vh !important;
    width: 10vh !important;
  }
  ion-icon {
      position: absolute;
      left: 90%;
      bottom: 0%;
      color: #40c040;
  }
}

}

