<!--
  Generated template for the SelectSpeaker page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title><span class="calvin-title">Select speaker</span></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="no-scroll">
  <ion-list>
    <ion-item *ngFor="let slide of slideData" (click)="selectSpeaker(slide.index)">
      <ion-avatar item-left>
        <img id="img{{slide.index}}" src="{{slide.icon}}">
        <ion-icon
        *ngIf="slide.index === appData.speakerIndex"
        name="checkmark-circle"> </ion-icon>
      </ion-avatar>

      <h2>{{slide.title}}</h2>
      <p></p>

      </ion-item>
  </ion-list>
</ion-content>
