page-vowel-trainer {


.vowel-example {
    font-size: 96px !important;
    text-align: center;
    color: #404060;
}

.vowel-highlight {
    color: #e04040;
}


@keyframes glow {
    0% {
        text-shadow: 0px 0px 8px color($colors, active);
    }
    50% {
        text-shadow: 0px 0px 32px color($colors, active);
    }
    100% {
        text-shadow: 0px 0px 8px color($colors, active);
    }
}


.container {
    position: relative;
}

.contained {
    position: absolute;
}

.inactive {
    color: color($colors, inactive);
}

.active {
     color: color($colors, active);
     animation: glow 2s infinite;
}


.icon-as-image {
   font-size: 320px;
}
.centred {
  text-align: center;
  width: 100% !important;

}

.lowlight {
    color: color($colors, inactive);
}

.highlight {
    color: color($colors, danger);
}
}
