page-vowel-trainer {

stack > div {
  height: 480px;
  width: 480px;
}

stack-item > div {
    margin-top:2rem !important;
}

vocal-tract-animation > div {
    padding: 1rem !important;
}

video-player > div {
    background: red;
    width: 100%;
}
.vowel-example {
    font-size: 96px !important;
    text-align: center;
    color: #404060;
}

.vowel-highlight {
    color: #e04040;
}
}
