<background [color]="backgroundColor" pattern="circles"></background>

<ion-header transparent>
  <heading>
    {{ isViewState(ViewState.Audio) ? 'Listen' :
    isViewState(ViewState.Animation) ? 'Watch' : 'Choose an example' }}
  </heading>
</ion-header>

<ion-content class="no-scroll">
  <ion-grid [hidden]="!isViewState(ViewState.Audio)" class="centered">
    <ion-row text-center>
      <ion-col>
        <keyword keyword-controls [keyword-uri]="getKeywordUri()" #keyword>
          <span [innerHtml]="getKeyword()"></span>
        </keyword>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col col-10 text-center>
        <div class="media-wrapper">
          <fancy-frame>
            <div class="media-frame media-frame-keyword">
              <img
                *ngIf="getKeywordImageUri(keyword)"
                [src]="getKeywordImageUri(keyword)"
              />
            </div>
          </fancy-frame>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid [hidden]="!isViewState(ViewState.Animation)" class="centered">
    <ion-row justify-content-center>
      <ion-col text-center>
        <keyword keyword-controls [keyword-uri]="getVowelUri()" #keywordVowel>
          <span [innerHtml]="getKeyword(true)"></span>
        </keyword>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col col-10 text-center>
        <div class="media-wrapper">
          <fancy-frame>
            <div class="media-frame media-frame-vocal-tract-animation">
              <vocal-tract-animation
                #vocalTractAnimation
              ></vocal-tract-animation>
            </div>
          </fancy-frame>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid [hidden]="!isViewState(ViewState.Examples)" class="centered">
    <ion-row justify-content-center>
      <ion-col text-center>
        <keyword keyword-controls [keyword-uri]="getKeywordUri()" #keyword>
          <span [innerHtml]="getKeyword()"></span>
        </keyword>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center class="example-words">
      <ion-col *ngFor="let wordId of getExampleWords(); let i = index">
        <div class="media-small" style="position: relative">
          <svg-trapezium [color]="imageColor">
            <div class="media-button" (click)="showExampleWord(i)">
              <div class="media media-image media-frame">
                <img
                  *ngIf="getExampleWordImageUri(wordId)"
                  [src]="getExampleWordImageUri(wordId)"
                />
              </div>
              <mark
                *ngIf="getExampleWord(wordId).isComplete()"
                class="mark-{{i + 1}}"
              >
                <svg-shape shape="check"></svg-shape>
              </mark>
            </div>
          </svg-trapezium>
          <button
            class="preview-audio-button"
            (click)="playExampleWord(wordId, i)"
          >
            <span>{{getExampleWord(wordId).display}}</span>
          </button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <button
    ion-button
    class="navigate-button navigate-button-back float-left"
    (click)="goBack()"
  >
    <svg-shape class="navigation-arrow" shape="arrow"></svg-shape>
  </button>

  <ion-buttons text-center>
    <button
      ion-button
      icon-only
      class="toolbar-button view-button"
      (click)="changeViewState(ViewState.Audio)"
      [disabled]="isViewState(ViewState.Audio)"
    >
      <ion-icon name="headset"></ion-icon>
    </button>
    <button
      ion-button
      icon-only
      class="toolbar-button view-button"
      (click)="changeViewState(ViewState.Animation)"
      [disabled]="isViewState(ViewState.Animation)"
    >
      <ion-icon name="person"></ion-icon>
    </button>
    <button
      ion-button
      icon-only
      class="toolbar-button view-button"
      (click)="changeViewState(ViewState.Examples)"
      [disabled]="isViewState(ViewState.Examples)"
    >
      <ion-icon name="list"> </ion-icon>
    </button>
  </ion-buttons>
</ion-footer>
