page-vowel-trainer {

	logo {
		cursor: pointer;
		span {
			cursor: pointer;
		}
	}
	.highlight {
	  opacity: 1;
	}
	.lowlight {
		opacity: 0.5;
	}

	.keyword-display {
		color: $keyword-label-fg;
	}


	.navigate-button {
		@include button-hover($navigate-button-bg, $navigate-button-fg, 15, 5);
		@include hover-box-shadow($navigate-button-bg);
	}

	.fade-out {
		opacity: 0 !important;
		transition: opacity 1s;
	}


	.fade-in {
		opacity: 1 !important;
		transition: opacity 1s;
	}

	.view-button {
		@include button-hover($view-button-bg, $view-button-fg, 15, 5);
    @include hover-box-shadow($view-button-bg);

		transform-origin: 50%, 50%;
		transform: scale(0.875);
		&:disabled {
			opacity: 1;
			transform-origin: 50%, 50%;
			transform: scale(1.125);
			border-width: 0.125rem;
		}
	}

	.content-container {
		display: flex !important;
		justify-content: center !important;
		text-align: center !important;
		margin: auto !important;
		width: 50% !important;
	}


}
