<!--
  Generated template for the VowelTrainerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title><logo></logo></ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding class="no-scroll">
  <div class="content-container">
<ion-grid justify-content-center>
  <ion-row justify-content-center>

    <ion-col>
      <div class="centered">
        <div class="contained button-container" *ngIf="!backButtonDisabled()">
        <button ion-button icon-only large [disabled]="backButtonDisabled()" (click)="backWord()">
          <ion-icon name="arrow-back"></ion-icon>
        </button>
        </div>
        <div class="contained button-container forward-button-container"  *ngIf="!forwardButtonDisabled()">
        <button ion-button icon-only large [disabled]="forwardButtonDisabled()" (click)="forwardWord()">
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
        </div>
       <span class="vowel-example" [innerHtml]="formatWord()"></span>
       </div>
    </ion-col>

  </ion-row>
  <ion-row justify-content-center>
    <ion-col>

        <div [hidden]="!isViewState(ViewState.Audio)" class="centred">
          <!--<ion-icon name="volume-up" class="icon-as-image inactive"></ion-icon>-->

          <ion-list>
              <ion-item no-lines>

                <keyword  [keyword-uri]="getUri('cat')" keyword-controls>cat</keyword>
              </ion-item>

             <ion-item center no-lines>
              <button ion-button block class="example-button" (click)="playWord(getKeyword())">
                {{getKeyword()}}
              </button>
            </ion-item>
            <ion-item no-lines>
              <button ion-button block class="example-button" (click)="playVowel(getWord().vowel)">
                <span [innerHtml]="formatWord(true)"></span>
              </button>
            </ion-item>
          </ion-list>
        </div>

        <div  [hidden]="!isViewState(ViewState.Recording)" class="centred">



        </div>

        <div  [hidden]="!isViewState(ViewState.Animation)" class="centred">
          <vocal-tract-animation [animation]="getWord().vowel" #vocalTractAnimation></vocal-tract-animation>
        </div>

        <div  [hidden]="!isViewState(ViewState.Examples)" class="centred">
           <ion-list>

            <ion-item *ngFor="let item of keywordExamples[appData.keywordList[wordIndex]]" no-lines>
              <ion-buttons right>
              <button ion-button class="example-button"
                 (click)="playExampleWord(item)">
              {{item}}
              </button>
              <button ion-button icon-only right>
                <ion-icon name='mic'></ion-icon>
              </button>
              <button ion-button icon-only right>
                <ion-icon name='play'></ion-icon>
              </button>
              </ion-buttons>
            </ion-item>
          </ion-list>
        </div>

    </ion-col>
  </ion-row>
</ion-grid>

</div>

  <!--<div class="narrator-fab">
    <narrator narrator-inset #narrator></narrator>
  </div>-->

</ion-content>

<ion-footer padding>
  <div class="centred">

       <button ion-button icon-only large (click)="changeViewState(ViewState.Audio)" [disabled]="isViewState(ViewState.Audio)">
        <ion-icon name="headset"></ion-icon>
      </button>
      <button ion-button icon-only large (click)="changeViewState(ViewState.Animation)" [disabled]="isViewState(ViewState.Animation)">
        <ion-icon name="person"></ion-icon>
      </button>
       <button ion-button icon-only large  (click)="changeViewState(ViewState.Recording)" [disabled]="isViewState(ViewState.Recording)">
        <ion-icon name="mic"></ion-icon>
      </button>

      <button ion-button icon-only large   (click)="changeViewState(ViewState.Examples)" [disabled]="isViewState(ViewState.Examples)">
        <ion-icon name="list" style="margin: -6px !important;">
        </ion-icon>
      </button>

    </div>
</ion-footer>
