<ion-header>
  <ion-toolbar start>
    <button ion-button clear (click)="cycleVowelGroup(1)">
        <p class="crafty-padding">
          {{wordLists.vowelGroups[appData.vowelGroupIndex].title}}
        </p>
    </button>

    <ion-chip class="speaker-chip" (click)="cycleSpeaker()">
      <ion-label>{{appData.speakers[appData.currentSpeakerIndex].name}}</ion-label>
      <ion-avatar>
        <img src="{{appData.speakers[appData.currentSpeakerIndex].avatarImageSrc}}">
      </ion-avatar>
    </ion-chip>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row *ngFor="let keyword of wordLists.vowelGroups[appData.vowelGroupIndex].keywords; let i = index">
      <ion-col text-center>
        <button ion-button text-center large round [outline]="isOutlined(i)"
          (click)="changeKeyword(i)" class="keyword-button">
          <ion-label class="keyword">
            {{ keyword.word }}
          </ion-label>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab bottom right #fab>
    <button ion-fab mini [disabled]="getButtonsEnabled()">
      <ion-icon name="arrow-dropleft" *ngIf="isLandscape()"></ion-icon>
      <ion-icon name="arrow-dropup" *ngIf="!isLandscape()"></ion-icon>
    </button>
    <ion-fab-list [attr.side]="getFablistOrientation()">

      <button ion-fab mini icon-only large color="secondary" [disabled]="getButtonsEnabled()">
        <ion-icon name="mic"></ion-icon>
      </button>
      <button ion-fab mini icon-only large color="secondary" [disabled]="getButtonsEnabled()">
        <ion-icon name="image"></ion-icon>
      </button>
      <button ion-fab mini icon-only large color="secondary" [disabled]="getButtonsEnabled()">
        <ion-icon name="headset"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>

</ion-content>

