<ion-header>
  <ion-toolbar start>
    <button ion-button clear (click)="cycleVowelGroup(1)">
        <p class="crafty-padding">
          {{wordLists.vowelGroups[appData.vowelGroupIndex].title}}
        </p>
    </button>




  <ion-chip class="speaker-chip" (click)="cycleSpeaker()">
    <ion-label>{{appData.speakers[appData.currentSpeakerIndex].name}}</ion-label>
    <ion-avatar>
      <img src="{{appData.speakers[appData.currentSpeakerIndex].avatarImageSrc}}">
    </ion-avatar>
  </ion-chip>
</ion-toolbar>
</ion-header>

<ion-content padding class="yes-scroll">

  <ion-grid *ngIf="stackVertical()">
      <ion-row>
        <ion-col>
<audio-track #audio *ngFor="let track of tracks"  [track]="track">
  </audio-track>
        </ion-col>
    </ion-row>
    <ion-row *ngFor="let hvd of wordLists.vowelGroups[appData.vowelGroupIndex].hvds; let i = index">
      <ion-col text-center>
        <button ion-button text-center large round [outline]="isOutlined(i)"
          (click)="changeHvd(i, hvd)" class="keyword-button">
          <ion-label class="keyword">
            {{ hvd }}
          </ion-label>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="!stackVertical()">
    <ion-row>
<audio-track #audio *ngFor="let track of tracks"  [track]="track">
    <audio-track-play dark [audioTrack]="audio"><ion-spinner></ion-spinner></audio-track-play>
  </audio-track>
    </ion-row>
    <ion-row>
      <ion-col *ngFor="let hvd of wordLists.vowelGroups[appData.vowelGroupIndex].hvds; let i = index">
        <button ion-button text-center large round [outline]="isOutlined(i)"
          (click)="changeHvd(i)" class="keyword-button">
          <ion-label class="keyword">
            {{ hvd }}
          </ion-label>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab bottom right #fab>
    <button ion-fab mini [disabled]="getButtonsEnabled()">
      <ion-icon name="arrow-dropleft" *ngIf="isLandscape()"></ion-icon>
      <ion-icon name="arrow-dropup" *ngIf="!isLandscape()"></ion-icon>
    </button>
    <ion-fab-list [attr.side]="getFablistOrientation()">
      <button ion-fab mini icon-only  color="secondary" [disabled]="getButtonsEnabled()">
        <ion-icon name="mic"></ion-icon>
      </button>
      <button ion-fab mini icon-only  color="secondary" [disabled]="getButtonsEnabled()">
        <ion-icon name="walk"></ion-icon>
      </button>
      <button ion-fab mini icon-only  color="secondary" [disabled]="getButtonsEnabled()">
        <ion-icon name="film"></ion-icon>
      </button>
      <button ion-fab mini icon-only  color="secondary"  [disabled]="getButtonsEnabled()">
        <ion-icon name="headset"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>

<!--<ion-footer>
  <ion-toolbar>
    <ion-buttons end>
      <button ion-button icon-only large clear [disabled]="getButtonsEnabled()">
        <ion-icon name="headset"></ion-icon>
      </button>
      <button ion-button icon-only large clear [disabled]="getButtonsEnabled()">
        <ion-icon name="film"></ion-icon>
      </button>
      <button ion-button icon-only large clear [disabled]="getButtonsEnabled()">
        <ion-icon name="walk"></ion-icon>
      </button>
      <button ion-button icon-only large clear [disabled]="getButtonsEnabled()">
        <ion-icon name="mic"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>-->
