background {
  .background-component {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
  .background-path {
    fill: color($md-palette, md-white);
    opacity: 0.25;
  }
  #backgroundSvg {

  }
}
